body {
	font-family: "sans-serif";
	background-color: #ffffff;
	background-image: url("images/bggg.png");
}
a:hover{
	color: yellow;
}
.gray {
	background-color: #778899;
}

.black {
	
	background-color: #0044cc;
}

#nav{
	display: inline-block;
}

#me{
	text-align: center;
}

#header{
	background-color: #66CCFF;
	text-align: center;
	color: white;
}

#containter{
	margin: auto;
}

#hobbies{
	background-color: lightgrey;
  	width: 300;
  	float:left;
  	padding: 25;
  	margin: 25;
  	height: 185;

}

#albums{
	background-color: lightgrey;
  	width: 300;
 	float:left;
  	padding: 25;
  	margin: 25;
}

#education{
	float:left;
	background-color: lightgrey;
  	width: 300;
  	padding: 25;
  	margin: 25;
  	width: 600;
}

#employment{
	background-color: lightgrey;
  	width: 300;
  	padding: 25;
  	margin: 25;
  	float:left;
  	width: 600;
}

#quote{
	background-color: lightgrey;
	float:left;
	padding: 15;
	margin: 25;
}
.redbold{
	color: red;
	font-weight: bold;
}